<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template.css">
    <!--Font-awesome icons-->
    <script src="https://kit.fontawesome.com/98be6a7515.js" crossorigin="anonymous"></script>
  <title>Template</title>
</head>
<body>
    
<div class="outer-container">
       <!--Row1-->
    <div class="row1">
        <h1>GLOBAL NETWORK PORTAL
            <a href="tel:+123456789"><i class="fas fa-phone"></i>On Call </a>
        </h1>
    </div>

       <!--Row2-->
    <div class="row2">
             <!--icons-->
        <div class="icons"> 
            <div>  <i class="fas fa-arrow-right"></i> </div> 
            <div>  <i class="fas fa-chart-area"></i>  </div> 
            <div>  <button type="button">MA</button>  </div> 
            <div>  <button type="button">ST</button>  </div> 
            <div>  <button type="button">MO</button>   </div> 
            <div>  <button type="button">SE</button>  </div> 
            <div>  <button type="button">TC</button>  </div> 
            <div>  <i class="fas fa-clock"></i></div>
         </div>

            <!--dashboard-->
            
        <div class="dashboard">
            <h4 style="margin:5px;">Dashboard </h4> <br>
                            <!--section1-->
            <div class="section1">
                <h4>MARVEL</h4>
                <h5>Datacenter Overview</h5>
                <div class="sec1">
                   <div class="graph1"> 
                       <img src="images/piechart2-modified.png" alt="piechart2">
                   </div>

                    <div class="table1">
                        <ul>
                            <li> <span class="dot1"></span> Number of Hosts Deployed <span class="badge">30.2%</span></li>
                            <li> <span class="dot2"></span> Number of Networks <span class="badge">11.3%</span></li>
                            <li> <span class="dot3"></span> Number of Interfaces <span class="badge">49.5%</span></li>
                        </ul>
                    </div>  
                    <br class="clear">
                </div>

                <h6>
                    <div>
                        Interface Total Bandwidth
                    </div>
                    <div >
                        <table>
                            <tr>
                                <td class="bandwidth"> 40.978</td>
                            </tr>
                            <tr>
                                <td class="unit">TBPS</td>
                            </tr>
                        </table>
                    </div>  
                </h6>  
                <br class="clear">

                <div class="viewmore">View More  <i class="fas fa-arrow-right"></i> </div>
            </div>

                            <!--section2-->
            <div class="section2">
                <h4>STUDIO PRODUCTION NETWORK</h4>
                <h5>Requests Overview</h5>
                <div class="sec2">
                   <div class="graph1"> 
                       <img src="images/piechart4.png" alt="piechart4">
                   </div>

                    <div class="table2">
                        <ul>
                            <li> 
                                <table>
                                    <tr>
                                        <td> <span class="dot1"></span> </td>
                                        <td class="sec2-content">  Number of Firewall Requests</td>
                                        <td class="badge1"> 30.2%</td>
                                    </tr>
                                </table>
                            </li>
                            <li> 
                                <table>
                                    <tr>
                                        <td> <span class="dot2"></span> </td>
                                        <td class="sec2-content"> Number of Wireless Access Requests</td>
                                        <td class="badge1"> 11.3%</td>
                                    </tr>
                                </table>
                            </li>
                            <li> 
                                <table>
                                    <tr>
                                        <td> <span class="dot3"></span> </td>
                                        <td class="sec2-content">  Number of VPN Access Requests</td>
                                        <td class="badge1">49.5%</td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>  
                    <br class="clear">
                </div>

                <div class="sec2-viewmore">View More  <i class="fas fa-arrow-right"></i> </div>
            </div>
                            <!--section3-->
            <div class="section3">
                <h4>MOTION PICTURE PRODUCTIONS</h4>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus tenetur, accusantium necessitatibus facilis, illo ea quo vitae ex rem voluptate quaerat possimus? Quae laudantium voluptatibus quaerat provident necessitatibus repudiandae, cupiditate sit ullam.</p>

                <div class="sec3-viewmore">View More  <i class="fas fa-arrow-right"></i> </div>
            </div>
                            <!--section4-->
            <div class="section4">
                <h4>SEARCH LIGHT</h4>
                <h5>Datacenter Overview</h5>
                <div class="sec1">
                   <div class="graph1"> 
                       <img src="images/piechart3-modified.png" alt="piechart3">
                   </div>

                    <div class="table1">
                        <ul>
                            <li> <span class="dot1"></span> Number of Hosts Deployed <span class="badge">54.1%</span></li>
                            <li> <span class="dot2"></span> Number of Networks <span class="badge">16.6%</span></li>
                            <li> <span class="dot3"></span> Number of Interfaces <span class="badge">29.1%</span></li>
                        </ul>
                    </div>  
                    <br class="clear">
                </div>

                <div class="sec4-viewmore">View More  <i class="fas fa-arrow-right"></i> </div>
            </div>

                    <!--Section5-->
            <div class="section5">
                <h4>TCC TITLE</h4>
               
                <div class="image"> </div>

                <div class="sec5-viewmore">View More  <i class="fas fa-arrow-right"></i> </div>
            </div>
                     <!--Section6-->
            <div class="section6">
                <h4>LEARN MORE</h4>

                <div class="image"> </div>

                <div class="sec6-viewmore">View More  <i class="fas fa-arrow-right"></i> </div>
            </div>

        </div> 
    </div>
   
   <!--Row3-->
   <div class="row3">
       <p>THE 
           <span class="footer"> Walt Disney</span>  Studios
           <span class="copyright">&copy; Copyright-The Walt Disney Studios - Studio Technology - Motion Picture Innovation</span>
        </p>
    </div>  


</div>

</body>
</html>